.bg-scaia {
    background-color: #25005b;
}

.header_logo {
    float: left;
}

.header_text {
    color: #888888;
    float: left;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: 60px;
}

.footer {
    width: 100%;
    background: #FFFFFF;
    clear: both;
    border-top: 1px solid #888888;
    text-align: center;
    margin-top: 15px;
}

.footer_text {
    background-color: #EEEEEE;
    color: #888888;
    font-weight: bold;
    padding: 15px;
}

.wrapper {
    margin: 0 auto;
    width: 1300px;
}

.content {
    float: left;
    background: #FFFFFF;
    width: 1070px;
    padding: 5px;
    border-left: 1px solid #888888;
}

.left {
    background: #FFFFFF;
    width: 210px;
    float: left;
}

.left ul {
    list-style-type: none;
}

.left ul li {
    background-image: url(images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 0px 15px;
    padding-left: 14px;
    padding-top: 10px;
}

.reg-proj-head {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.reg-proj-title {
    font-weight: bold;
    padding-bottom: 2px;
    color: #ff3333;
}

.reg-proj-desc {
    padding-bottom: 2px;
    font-size: 10px;
}

.reg-proj-counts {
    padding-bottom: 2px;
    font-size: 10px;
    font-weight: bold;
}

.reg-proj-actions {
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}

.reg-proj-actions a {
    text-decoration: none;
    color: #000000;
}

.search-box {
    float: left;
}

.search-field {
    width: 500px;
}

.result-box-header {
    font-size: 14px;
    font-weight: bold;
}

.result-box td {
    font-size: 12px;
}

.result-box th {
    font-size: 12px;
    text-align: left;
}

.no-result {
    font-weight: bold;
}

.result-box-key {
    text-decoration: underline;
}

.result-box-value {
    overflow: hidden;
    width: 290px;
}

.result-box-text {
    padding-top: 10px;
}

.result-box-text-container {
    height: 48px;
    overflow: hidden;
    width: 540px;
}

.result-box-text-collapse {
    color: #000000;
    font-weight: bold;
}

.result-box-text-collapse a {
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
}

.delimiter {
    height: 5px;
}

.delimiter2 {
    height: 30px;
}

.delimiter3 {
    height: 300px;
}

.pagination {
    float: left;
    padding: 10px 10px 10px 130px;
    text-align: center;
    width: 1000px;
}

.prev_page {
    float: left;
}

.prev_page a {
    float: left;
    color: #000000;
}

.next_page {
    float: left;
}

.next_page a {
    float: left;
    color: #000000;
}

.page {
    float: left;
    font-weight: bold;
    width: 100px;
}

.highlights {
    font-size: 12px;
    padding: 5px 15px;
}

.highlights > img {
    cursor: pointer;
}

.highlight1 {
    background-color: #17ACE6;
}

.highlight2 {
    background-color: #0669D1;
    color: #fff;
}

.highlight3 {
    background-color: #2640BF;
    color: #fff;
}

.highlight4 {
    background-color: #30087C;
    color: #fff;
}

.highlight5 {
    background-color: #40276E;
    color: #fff;
}

.highlight6 {
    background-color: #A7FFFF;
}

.highlight7 {
    background-color: #2EFFF6;
}

.highlight8 {
    background-color: #E3E7F7;
}

.highlight9 {
    background-color: #B5B8C8;
}

.highlight10 {
    background-color: #759d00;
}

.operations-box {
    height: 30px;
}

.operation-link {
    float: left;
    padding-right: 10px;
}

.operation-link-text {
    border: 1px solid #888888;
    color: #000000;
    font-size: 12px;
    font-weight: bolder;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
}

.tag-box {
    display: none;
}

.menulink {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.homepage_text {
    padding: 10px;
}

.error {
    color: #ff0000;
    font-weight: bold;
    padding: 10px;
}

.success {
    color: #00D000;
    font-weight: bold;
    padding: 10px;
}

.login-box {
    padding: 10px;
}

.login-label {
    font-weight: bold;
    padding-bottom: 10px;
}

.login-box-username {
}

.login-box-username-field {
}

.login-box-username-box {
    padding-bottom: 5px;
}

.login-box-password {
}

.login-box-password-field {
}

.login-box-password-box {
    padding-bottom: 10px;
}

.login-box-login {
}

.listusers-box {
    height: 200px;
    padding-left: 10px;
}

.listusers-box td {
    border-bottom: 1px solid #888888;
    font-size: 12px;
    width: 150px;
    padding-left: 5px;
    height: 20px;
}

.listusers-header {
    background-color: #EEEEEE;
    font-weight: bold;
    height: 30px;
}

.listusers-newuser {
    padding-bottom: 10px;
}

.newuserlink {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: underline;
}

.user-box {
    padding-left: 10px;
}

.user-box tr {
    height: 30px;
}

.user-box td {
    font-size: 12px;
    font-weight: bold;
}

.explanation {
    font-size: 10px;
    font-weight: none;
}


.result-total {
    font-size: 16px;
    font-weight: bold;
}

.table-last-row {
    border-right: 1px none !important;
}

.result-list-row-selected {
    background-color: #ff9c7b !important;
}

.document-tags {
    border: 1px solid #000000;
    left: 340px;
    position: absolute;
    top: 10px;
    width: 200px;
}

.document-tags-label {
    background-color: #BFBFBF;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
}

.document-tags-table {
    height: 100px;
    overflow: scroll;
    padding: 5px;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.document-tags-row {
    height: 25px;
    width: 400px;
}

.document-tags-row:hover {
    background-color: #DFDFDF;
}

.document-tags-tag {
    overflow: hidden;
    width: 408px;
    margin-left: 10px;
}

.document-notes-note {
    overflow: hidden;
    width: 408px;
    margin-left: 10px;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('images/loading.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal-loading {
    display: block;
}

.your-search {
    border: 1px solid #BFBFBF;
    width: 1060px;
}

.your-search-label {
    background-color: #BFBFBF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}

.your-search-box {
    padding: 10px;
}

.your-search-box-search {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.24);
}

.your-search-box-name {
    display: inline;
    height: 24px;
    text-align: center;
    width: 205px;
}

.your-search-box-delete {
    cursor: pointer;
    height: 20px;
    padding-top: 4px;
    padding-left: 3px;
    float: left;
}

.your-search-box-name-inner {
    float: left;
    padding: 5px;
    width: 180px;
    overflow: hidden;
    font-size: 11px;
    font-weight: 100;
}

.your-search-clear-all {
    padding-bottom: 3px;
    padding-left: 10px;
}

.case-tags-box {
    border: 1px solid #BFBFBF;
    float: left;
    left: 110px;
    overflow: hidden;
    position: relative;
    width: 280px;
}

.case-tags-box-label {
    background-color: #BFBFBF;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
}

.case-tags-box-body {
}

.tag-table {
    display: table;
    width: 100%;
}

.case-tags-box-row {
    background-color: #FF9C7B;
    color: #000000;
    cursor: pointer;
    padding: 4px;
    border: 1px dotted #BFBFBF;
    display: table-cell;
    width: 100%;
}

.case-tags-box-row:hover {
    background-color: #DFDFDF;
}

.your-case {
    border: 1px solid #FF0000;
    width: 1060px;
    font-weight: bold;
}

.your-case-select {
    width: 300px;
}

.uploadedFileBox {
    color: #00ff00;
}

.modal-wide {
    width: 750px;
}

.tags-remove-box {

}


.list-group-item,.list-group-item:first-child,.list-group-item:last-child{
    border: none;
    border-radius: 0;

}